#heading{
    color:red
}

.header{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
}

.logo{
    height: 100px;
    width: 100px;
}

.nav-items>ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items>ul >li{
    margin: 10px;
    padding: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 15px;
    padding: 15px;
    border: 1px solid grey;
    /* height: 350px; */
    width: 250px;
}

.res-card:hover{
    border:1px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.resLogo{
    width: 90%;
    margin: 5%;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 15px;
    padding: 15px;
    border: 1px solid grey;
    height: 515px;
    width: 250px;
    /* background-color: #f0f0f0; */
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%) fixed;
    background-size: 100vw 100%;
}
@keyframes shimmer {
    0% {
      background-position: -100vw 0;
    }
  
    100% {
      background-position: 100vw 0;
    }
  }

  .filter{
    display: flex;
  }